/********************/
/* GENERIC          */
/********************/
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

html, body
{
    height:             100%;
    min-height:         100% !important;
}

dt
{
    font-weight:        bold;
    margin-bottom:      5px;
}

dd
{
    margin-bottom:      10px;
}

.mt20
{
    margin-top:         20px;
}

.l-box
{
    padding:            1em;
}

.l-box-big
{
    padding:            2em;
}

.content-wrapper
{
    height:             100%;
}

.content-lightblue
{
    background-color:   #22A7F0;
    color:              white;
}

.content-marino
{
    background-color:   #446CB3;
    color:              #eee;
}

.content-transparent
{
    background-color:   rgba(255, 255, 255, 0.8);
}

.content-translucent
{
    background-color:   rgba(255, 255, 255, 0.5);
}

.text-right-or-center
{
    text-align:         right;
}

.text-left-or-center
{
    text-align:         left;
}

.text-center
{
    text-align:         center;
}

.text-justify
{
    text-align:         justify;
}


/********************/
/* HEADER           */
/********************/
.header
{
    height:             2.2em;
    font-size:          1.1em;
}

.header-title
{
    color:              white;
    font-weight:        bold;
    display:            inline;
    padding:            0.5em 1em;
    vertical-align:     middle;
    margin-left:        1em;
    margin-right:       1em;
}

#header-big
{
    margin-left:        1em;
}

#header-small
{
    margin-left:        1em;
    display:            none;
}

.header-link
{
    color:              white   !important;
}

.header-link:hover
{
    background-color:   #89C4F4;
}

.header-link:focus
{
    background-color:   transparent;
}

.padding-wrapper
{
    padding-top:        40px;
    padding-bottom:     40px;
}

.full-size
{
    height:             100%;
    width:              100%;
}


/********************/
/* PREMIERE PAGE    */
/********************/
#floating-name
{
    background-color:   rgba(255,255,255, 0.8);
    position:           absolute;
    top:                50%;
    left:               50%;
    width:              50%;
    margin-left:        -25%; /* width/2 */
    padding:            40px;
    vertical-align:     center;
    font-size:          1.5em;
    line-height:        1.6em;
    margin-top:         -100px;
}

#content-intro
{
    background:         url('../img/intro.jpg') no-repeat center;
    height:             100%;
    background-size:    cover;
    width:              100%;
}



.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    white-space: normal;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}


/********************/
/* PREMIERE PAGE    */
/********************/
#portrait
{
    background-image:   url('../img/portrait.jpg');
    border-radius:      50%;
    width:              200px;
    height:             200px;
    margin-right:       40px;
    display:            inline-block;
}

#carte-identite
{
    margin-left:        40px;
    display:            inline-block;
}


#description-osteo
{
    background:         url('../img/description.jpg') no-repeat center center;
    background-size:    cover;
}

#contact-form
{
    color:              black;
}

#contact-header
{
    margin-top:         20px;
    padding-top:        20px;
    margin-bottom:      10px;
    border-top:         2px solid white;
}

#google-maps
{
    height:             280px;
}


#footer
{
    color:              white;
}

#footer>a
{
    text-decoration:    none;
    color:              white;
    font-weight:        bold;
}

#footer>a:hover
{
    text-decoration:    none;
    color:              blue;
}


/*
* Petit écran
*/
@media screen and (max-width: 48em)
{
    .text-right-or-center
    {
        text-align:         center;
    }

    .text-left-or-center
    {
        text-align:         center;
    }

    .l-box-big
    {
        padding:            1em;
    }

    #header-title
    {
        float:              left;
    }

    #header-big
    {
        display:            none;
    }

    #header-small
    {
        display:            inline-block;
        float:              right;
        margin-right:       3em;
    }

    #floating-name
    {
        width:              80%;
        margin-left:        -40%; /* width/2 */
        padding:            40px;
        vertical-align:     center;
        font-size:          1.5em;
        line-height:        1.6em;
        margin-top:         -100px;
    }

    #portrait
    {
        margin-right:       0;
    }

    #carte-identite
    {
        margin-left:        0;
    }
}

/*
* Petit écran
*/
@media screen and (min-width: 48em)
{

    #google-maps
    {
        height:             665px;
    }
}
